body {
	margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
	border-style: solid;
  border-width:  0px 0px 4px 0px;
	border-color: #1a8cff;
}

li {
  float: left;
}

li a {
  display: block;
  color: #A3A3A3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #111;
	text-shadow: 2px 2px 8px #FFFFFF;
	color: #FFFFFF
}

#wrapper {
	position: relative;
}

.active {
  background-color: #1C81ED;
}
