body {
  background-image: url(../pic/background.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

#block:not(.ul) {
  background-color: white;
  color: black;
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20%;

}

#logo {
  display: block;
  margin-top:10%;
  text-align: center;
}

.text {
  color: #000000;
  font-size: 20px;
  font-family: "Helvetica";
  padding: 30px;

}

#titel {
  color: #e45a3a;
  font-size: 40px;
  text-align: center;

}

/* Navbar start */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: serif;
    font-size: 20px;
}

.navbar {
    float: left;
}

.navbar .navtext {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .navtext:hover:not(.active) {
    background-color: #e45a3a;
}

.active {
  background-color: #e45a3a;

}

.active:hover {
  background-color: #C24225;

}



/* Navbar ende */
