body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

#block {
  background-color: white;
  color: black;
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 40%;
}

#logo {
  display: block;
  margin-top:10%;
  text-align: center;
}

.text {
  color: #000000;
  font-size: 20px;
  font-family: "Helvetica";

}

#titel {
  color: #e45a3a;
  font-size: 40px;
  text-align: center;

}
