body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}

#block {
  background-color: white;
  color: black;
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 40%;
}

#logo {
  display: block;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
}

.text {
  color: #000000;
  font-size: 24px;
  font-family: "Helvetica", serif;

}
